div(class='{$class}', id='{$_name}', style='{$style}')
  .row(style='margin-top:60px;')
    .col-md-3.col-sm-3
      aside#sidebar
        ul.navigation-sidebar.list-unstyled
          li.hostaccount-destination-verticaltabs(data-type="Booking")
            a(href='#')
              i.fa.fa-folder
              span Booking's
          li.hostaccount-destination-verticaltabs(data-type="Sales")
            a(href='#')
              i.fa.fa-eye-slash
              span Sales
          li.hostaccount-destination-verticaltabs(data-type="Profile")
            a(href='#')
              i.fa.fa-eye-slash
              span Profile
          li.hostaccount-destination-verticaltabs(data-type="ManagePackage")
            a(href='#')
              i.fa.fa-eye-slash
              span Manage Package's
          li.hostaccount-destination-verticaltabs(data-type="History")
            a(href='#')
              i.fa.fa-eye-slash
              span History
          li.hostaccount-destination-verticaltabs(data-type="Notification")
            a(href='#')
              i.fa.fa-eye-slash
              span Notification
          li.hostaccount-destination-verticaltabs(data-type="Contact")
            a(href='#')
              i.fa.fa-clock-o
              span Contact HungryDunia
          li.hostaccount-destination-verticaltabs(data-type="TNC")
            a(href='#')
              i.fa.fa-clock-o
              span terms & condition
    .col-md-9.col-sm-9
      section#dashboard-section
        {$Content}
