
<div id="{$_name}" style="{$style}" class="{$class}">
  <div style="margin-top:60px;" class="row">
    <div class="col-md-3 col-sm-3">
      <aside id="sidebar">
        <ul class="navigation-sidebar list-unstyled">
          <li data-type="BookedTicket" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-folder"></i><span>Booked Tickets</span></a></li>
          <li data-type="Verified" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-folder"></i><span>Verified</span></a></li>
          <li data-type="Sales" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-eye-slash"></i><span>Sales</span></a></li>
          <li data-type="Profile" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-eye-slash"></i><span>Event Profile</span></a></li>
          <li data-type="ManageTicket" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-eye-slash"></i><span>Manage Ticket's</span></a></li>
          <li data-type="History" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-eye-slash"></i><span>History</span></a></li>
          <li data-type="Notification" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-eye-slash"></i><span>Notification</span></a></li>
          <li data-type="Contact" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-clock-o"></i><span>Contact HungryDunia</span></a></li>
          <li data-type="TNC" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-clock-o"></i><span>terms & condition</span></a></li>
          <li data-type="ChangePassword" class="hostaccount-event-verticaltabs"><a href="#"><i class="fa fa-lock"></i><span>Change Password</span></a></li>
        </ul>
      </aside>
    </div>
    <div class="col-md-9 col-sm-9">
      <section id="dashboard-section">{$Content}</section>
    </div>
  </div>        {/}
</div>