<div class="{$class} user-account-profile" id="{$_name}" style="{$style}; margin: auto;">
    <!--Password-->
        <div class="col-md-12 col-sm-12">
            <h3><i class="fa fa-asterisk"></i>Password Change</h3>
            {chnage_password_form}
                <div class="form-group atk-form-row">
                    <label for="current-password">Current Password</label>
                    {$current_password}
                </div>
                <!--/.form-group-->
                <div class="form-group atk-form-row">
                    <label for="new-password">New Password</label>
                    {$new_password}
                </div>
                <!--/.form-group-->
                <div class="form-group atk-form-row">
                    <label for="confirm-new-password">Confirm New Password</label>
                    {$confirm_password}
                </div>
                <!--/.form-group-->
                <div class="form-group">
                {$submit}
                </div>
                <!-- /.form-group -->
            {/}
        </div>
    </div>
{$Content}
</div>