div(id="{$_name}" class="{$class} text-center" style="{$style} margin-top:10px;")
	a.hungrycart.text-center(style="border-radius:5px;color:white;font-size:16px;font-weight:bold;" href="?page=cartdetail") Cart&nbsp;&nbsp;
		span.badge(style="background-color:white;color:#fa9634;box-shadow:4px 0px 4px #ff6600;font-size:20px;") {event_count}0{/}
	{$Content}
