
<div id="{$_name}" style="{$style}" class="{$class}">
  <section>
    <div class="item list admin-view hungry-event-ticket">
      <div style="width:120px;min-height:auto !important;height:auto !important;" class="image"><a href="item-detail.html">					
          <div class="item-specific"><span> {$remaining_ticket} Left</span></div><img src="{first_image}{/}" style="width:120px;min-height:auto !important;height:auto !important;"/></a></div>
      <div style="padding:20px 20px 10px;" class="wrapper"><a href="#">
          <h3 style="text-transform:uppercase;height:auto;">{$name}</h3></a>
        <figure>{$detail}</figure>
        <div class="info">{$addtocartform}</div><small style="font-size:12px;"><span style="color:red;">Disclaimer: </span><span>{$disclaimer}</span></small>
      </div>
      <div style="width:200px !important;" class="description">{remaining_count}
        <ul class="list-unstyled actions">
          {rows}
          {row}
          <li><a href="#">{$name}</a></li>{/}{/}
          <p style="font-weight:bold;">Ticket's Left</p>
        </ul>{/}
      </div>{$ribben}
    </div>
  </section>
</div>