div(id="{$_name}" class="{$class} container" style="{$style}")
	{$empty_cart}
	{$Content}
	section
		{rows}{row}
		.item.list.admin-view.hungry-event-ticket
			.image(style="width:100px;height:auto !important;min-height:auto !important;")
				a(href='item-detail.html')
					.item-specific
						span  {$remaining_ticket} Left
					img(src='{first_image}{/}', alt='' style="width:100%;height:auto !important;min-height:auto !important;")
				p {$event_name}{$sequence}
			.wrapper
				a(href='#')
					h3(style="text-transform:uppercase;height:auto;") {$name}
					span.fa.fa-calendar: &nbsp; {$event_day}
					span.fa.fa-clock-o(style="margin-left:20px;margin-bottom:10px;"): &nbsp; {$event_time}
				.info
					{$addtocartform}
				small(style="font-size:12px;")
					span(style="color:red;") Disclaimer: 
					span{$disclaimer}
		{$Content}
		{/}
		{/}

	{checkout_button}
	.row(style="padding:0px 0px;")
		.col-md-6
		.col-md-6
			.row
				.col-lg-8.col-md-8.col-sm-8
					h3(style="text-align:right;") Subtotal:		
				.col-lg-4.col-md-4.col-sm-4.text-right
					{$sub_total} &nbsp;
					i.fa.fa-rupee
			.row
				.col-lg-8.col-md-8.col-sm-8
					h3(style="text-align:right;") Internet handling fees:
				.col-lg-4.col-md-4.col-sm-4.text-right
					{$internet_handling_fees} &nbsp;
					i.fa.fa-rupee
			.row
				.col-lg-8.col-md-8.col-sm-8
					#accordion.panel-group(role='tablist', aria-multiselectable='true')
						.panel.panel-default(style="background-color:none;")
							#headingOne.panel-heading(role='tab')
								p.panel-title(style="text-align:right;")
									a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
										| Service Tax Breakup
							#collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
								.panel-body			 
									{$tax_detail}
				.col-lg-4.col-md-4.col-sm-4.text-right
			.row
				.col-lg-8.col-md-8.col-sm-8
					h3(style="text-align:right;") Total Amount: 
				.col-lg-4.col-md-4.col-sm-4.text-right
					{net_amount}0{/} &nbsp;
					i.fa.fa-rupee
			a.btn.btn-block.btn-success.atk-swatch-orange.hungrydunia-event-checkout(href="?page=checkout" style="margin-top:20px;") Checkout
	{/}