
<div id="{$_name}" style="{$style}" class="{$class} container">
  {$empty_cart}
  {$Content}
  <section>{rows}{row}
    <div class="item list admin-view hungry-event-ticket">
      <div style="width:100px;height:auto !important;min-height:auto !important;" class="image"><a href="item-detail.html">
          <div class="item-specific"><span> {$remaining_ticket} Left</span></div><img src="{first_image}{/}" alt="" style="width:100%;height:auto !important;min-height:auto !important;"/></a>
        <p>{$event_name}{$sequence}</p>
      </div>
      <div class="wrapper"><a href="#">
          <h3 style="text-transform:uppercase;height:auto;">{$name}</h3><span class="fa fa-calendar">&nbsp; {$event_day}</span><span style="margin-left:20px;margin-bottom:10px;" class="fa fa-clock-o">&nbsp; {$event_time}</span></a>
        <div class="info">{$addtocartform}</div><small style="font-size:12px;"><span style="color:red;">Disclaimer: </span><span>{$disclaimer}</span></small>
      </div>
    </div>{$Content}
    {/}
    {/}
  </section>{checkout_button}
  <div style="padding:0px 0px;" class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <h3 style="text-align:right;">Total Amount: {net_amount}0{/} &nbsp; <i class="fa fa-rupee"></i></h3><a href="?page=checkout" style="margin-top:20px;" class="btn btn-block btn-success atk-swatch-orange hungrydunia-event-checkout">Checkout</a>
    </div>
  </div>{/}
</div>