
<div id="{$_name}" style="{$style}" class="{$class} container">{$empty_cart}
  <section>{rows}{row}
    <div class="item list admin-view hungry-event-ticket">
      <div class="image"><a href="item-detail.html">
          <div style="display:none;" class="overlay">
            <div class="inner">
              <div class="content">
                <h4>Description</h4>
                <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
              </div>
            </div>
          </div>
          <div class="item-specific"><span> {$remaining_ticket} Left</span></div><img src="{first_image}{/}" alt=""/></a></div>
      <div style="padding:0px 20px 10px;" class="wrapper">
        <h1 style="font-weight:normal;padding-top:10px;">{$event_name}{$sequence}</h1><a href="#">
          <h3 style="text-transform:uppercase;height:auto;">{$name}</h3><span class="fa fa-calendar">&nbsp; {$event_day}</span><span style="margin-left:20px;margin-bottom:10px;" class="fa fa-clock-o">&nbsp; {$event_time}</span></a>
        <figure>{$detail}</figure>
        <div class="info">{$addtocartform}</div><small style="font-size:12px;"><span style="color:red;">Disclaimer: </span><span>{$disclaimer}</span></small>
      </div>
      <div class="description">{remaining_count}
        <ul class="list-unstyled actions">
          {rows}
          {row}
          <li style="background-color:#f2f2f2;"><a href="#">{$name}</a></li>{/}{/}
          <p style="text-align:right;font-weight:bold;">Ticket's Left</p>
        </ul>{/}
      </div>{$ribben}
    </div>{/}
    {/}
  </section>{checkout_button}
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 col-sm-12 col-xs-12"><a href="?page=checkout" class="btn btn-block btn-success atk-swatch-orange hungrydunia-event-checkout">Checkout</a></div>
  </div>{/}
</div>