
<div id="{$_name}" style="{$style}" class="{$class} container">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-left">{$empty_cart}</div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center">
      <h2 style="margin-top:10px;">Selected Ticket Details</h2>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"></div>
  </div>
  <hr/>{$Content}
  <section>{rows}{row}
    <div class="item list admin-view hungry-event-ticket">
      <div style="width:100px;height:auto !important;min-height:auto !important;" class="image"><a href="item-detail.html">
          <div class="item-specific"><span> {$remaining_ticket} Left</span></div><img src="{first_image}{/}" alt="" style="width:100%;height:auto !important;min-height:auto !important;"/></a>
        <p>{$event_name}{$sequence}</p>
      </div>
      <div class="wrapper"><a href="#">
          <h3 style="text-transform:uppercase;height:auto;">{$name}</h3><span class="fa fa-calendar">&nbsp; {$event_day}</span><span style="margin-left:20px;margin-bottom:10px;" class="fa fa-clock-o">&nbsp; {$event_time}</span></a>
        <div class="info">{$addtocartform}</div><small style="font-size:12px;"><span style="color:red;">Disclaimer: </span><span>{$disclaimer}</span></small>
      </div>
    </div>{$Content}
    {/}
    {/}
  </section>{checkout_button}
  <div style="padding:0px 0px;" class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h3 style="text-align:right;">Subtotal:		</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right">{$sub_total} &nbsp;<i class="fa fa-rupee"></i></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h3 style="text-align:right;">Internet handling fees:</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right">{$internet_handling_fees} &nbsp;<i class="fa fa-rupee"></i></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div style="background-color:none;" class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <p style="text-align:right;" class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Service Tax Breakup</a></p>
              </div>
              <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse">
                <div class="panel-body">
                  			 
                  {$tax_detail}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right"></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h3 style="text-align:right;">Total Amount: </h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right">{net_amount}0{/} &nbsp;<i class="fa fa-rupee"></i></div>
      </div><a href="?page=checkout" style="margin-top:20px;" class="btn btn-block btn-success atk-swatch-orange hungrydunia-event-checkout">Checkout</a>
    </div>
  </div>{/}
</div>