div(id="{$_name}" class="{$Class}" style="{$style}")
	.container(style="width:100%")
		.row(style="margin-bottom:20px;")
			.col-md-6.col-lg-6-col-sm-12
				.promo-box(style="padding:20px 10px;")
					.wrapper
						h3(style='padding-top:5px;padding-bottom:5px;') Pull Push Sticker
						div {$pull_push_form}
			.col-md-6.col-lg-6-col-sm-12
				.promo-box(style="padding:20px 10px;")
					.wrapper
						h3(style='padding-top:5px;padding-bottom:5px;') Table Reservation Signature
						div {$table_reservation_form}
		.row(style="margin-bottom:20px;")
			.col-md-6.col-lg-6-col-sm-12
				.promo-box(style="padding:20px 10px;")
					.wrapper
						h3(style='padding-top:5px;padding-bottom:5px;') Personalize Android App For Your Business
						div {$android_app_form}
			.col-md-6.col-lg-6-col-sm-12
				.promo-box(style="padding:20px 10px;")
					.wrapper
						h3(style='padding-top:5px;padding-bottom:5px;') Personalize Website App For Your Business
						div {$website_form}
		.promo-box(style="padding:20px 10px;")
			.wrapper
				h3(style='padding-top:5px;padding-bottom:5px;') Enquiry Form
				div {$enquiry_form}
	{$Content}