
<div id="{$_name}" style="{$style}" class="{$Class}">
  <div style="width:100%" class="container">
    <div style="margin-bottom:20px;" class="row">
      <div class="col-md-6 col-lg-6-col-sm-12">
        <div style="padding:20px 10px;" class="promo-box">
          <div class="wrapper">
            <h3 style="padding-top:5px;padding-bottom:5px;">Pull Push Sticker</h3>
            <div>{$pull_push_form}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6-col-sm-12">
        <div style="padding:20px 10px;" class="promo-box">
          <div class="wrapper">
            <h3 style="padding-top:5px;padding-bottom:5px;">Table Reservation Signature</h3>
            <div>{$table_reservation_form}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom:20px;" class="row">
      <div class="col-md-6 col-lg-6-col-sm-12">
        <div style="padding:20px 10px;" class="promo-box">
          <div class="wrapper">
            <h3 style="padding-top:5px;padding-bottom:5px;">Android App</h3>
            <div>{$android_app_form}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6-col-sm-12">
        <div style="padding:20px 10px;" class="promo-box">
          <div class="wrapper">
            <h3 style="padding-top:5px;padding-bottom:5px;">Website Request</h3>
            <div>{$website_form}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding:20px 10px;" class="promo-box">
      <div class="wrapper">
        <h3 style="padding-top:5px;padding-bottom:5px;">Enquiry Form</h3>
        <div>{$enquiry_form}</div>
      </div>
    </div>
  </div>{$Content}
</div>