
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="container">
    <header>
      <h2>{header}Destination{/}</h2>
    </header>
    <div class="row">{rows}{row}
      <div class="col-md-3 col-sm-3">
        <div class="item">
          <div class="image"><a href="{$path}">
              <div class="overlay">
                <div class="inner">
                  <div style="display:none;" class="content">
                    <h4>Description</h4>
                    <p>{about_restaurat}Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa{/}</p>
                  </div>
                </div>
              </div>
              <div class="item-specific"><span title="Distance" data-lat="{$latitude}" data-lng="{$longitude}"><i class="fa fa-map-marker"><span data-lat="{$latitude}" data-lng="{$longitude}" style="color:orange;" data-id="{$id}" class="current-distance"></span></i>{$distance}</span><span title="Avg Cost"><i class="fa fa-inr"></i>{avg_cost}un defined{/}*</span><span title="Total Package"><i class="fa fa-tags"></i> {package_count}{/}</span></div><img src="{display_image}{$absolute_url}assets/img/small.jpg{/}" alt="" onerror="this.src='{$absolute_url}assets/img/hungry-not-found.jpg'"/></a>
            <div class="restaurant-category"><i class="fa fa-hungry">{$first_category}</i></div>
          </div>{requesttobook_wrapper}
          <div data-destinationid="{$id}" class="btn-block atk-swatch-orange btn hungrydestination_enquiry container">Request To Book</div>{/}
          <div style="padding-top:20px;" class="wrapper"><a href="{$path}">
              <h3><img src="{$absolute_url}assets/img/{$food_type}.png" alt="{$food_type}"/> {name}Steak House Restaurant{/}</h3></a>
            <figure>{address}63 Birch Street{/}</figure>
          </div>
          <div class="info text-center">
            <div class="type"><i><img src="{$absolute_url}{category_icon_url}assets/icons/restaurants-bars/restaurants/restaurant_indian.png{/}" alt="{$category}" onerror="this.src='{$absolute_url}assets/img/hungry-not-found.jpg'"/></i><span>{type}{/}</span></div>{$rating_star}
            {$menu}
          </div>
        </div>
      </div>{/}{/}
      <!-- /.col-sm-4-->
    </div>
  </div>
</div>