div(id="{$_name}" class="{$class}" style="{$style}")
  {$Content}
  {$loginsuccess}
  {login_wrapper}
  .hungrylogin
      .login_modal_header
        h2#myModalLabel.modal-title Login to Your Account
      .modal-body.login-modal(style="border:0px;")
        .clearfix
        #social-icons-conatainer.row
          .col-md-6.col-lg-6.col-sm-6.col-xs-12
            {generalloginform}
            .form-group
              input#username.form-control.login-field(type='text', value='', placeholder='Enter your name' style="border:1px solid ghostwhite !important")
              i.fa.fa-user.login-field-icon
            .form-group
              input#login-pass.form-control.login-field(type='password', value='', placeholder='Password'  style="border:1px solid ghostwhite !important")
              i.fa.fa-lock.login-field-icon
            a.btn.btn-success.modal-login-btn(href='#') Login
            {/}
            div(style="margin-top:10px;padding-bottom:30px;") {$forgotpassword}
          .col-md-6.col-lg-6.col-sm-6.col-xs-12
            .modal-social-icons(style="margin-top:20px;")
              {facebook_btn}
              div.btn.btn-default.facebook.btn-block
                i.fa.fa-facebook.modal-icons(style="font-size:20px;")
                |  Sign In with Facebook
              {/}
              {google_btn}
              a.btn.btn-default.google.btn-block(href='{$google_login_url}')
                i.fa.fa-google-plus.modal-icons(style="font-size:20px;")
                |  Sign In with Google
              {/}
              hr
              {new_register}
              {/}
      //- .clearfix
      //- .modal-footer.login_modal_footer
  {/}
  style.
    .hungrylogin input{
      border:1px solid ghostwhite !important;
    }