
{rows}
{row}
<section class="height-100 nearbyrestaurant-detail-banner"><i title="rating" class="atk-swatch-orange label pull-right">{$rating}</i>
  <div class="inner"><a href="{$path}" style="color:white;">
      <h1 class="item-horizontal small">{name}Find Place For Fun and Eat{/}</h1></a></div>
  <div style="width:100%;height: 100%;" class="background nearbyrestaurant-thumb"><img src="{display_image}assets/img/restaurant-detail-banner.jpg{/}" alt="{$name}" onerror="this.src='assets/img/hungry-not-found.png';" style="width:100% !important;" /></div>
</section>{/}
{/}