{rows}
{row}
section.height-100.nearbyrestaurant-detail-banner
	i.atk-swatch-orange.label.pull-right(title="rating") {$rating}
	.inner
		a(href="{$path}" style="color:white;")
			h1.item-horizontal.small {name}Find Place For Fun and Eat{/}
	.background.nearbyrestaurant-thumb(style="")
		img(src='{display_image}assets/img/restaurant-detail-banner.jpg{/}', alt='{$name}')
{/}
{/}