div(id="{$_name}" class="{$class}" style="{$style}")
	{rows}
	{row}
	article.review
		figure.author
			img(alt='', src='assets/img/default-avatar.png')
		.wrapper
			h5 {$name}
			{$message}
			.individual-rating.label.label-info
				span From : {$from} 
				span(style="margin-left:20px;") Date : {$created_at}
	{/}
	{/}
	{$not_found}
	{$Paginator}
	{$Content}
	