
<div class="container">
  <header>
    <h2>{header}Popular this week{/}</h2>
  </header>
  <div class="owl-carousel wide carousel">{rows}{row}
    <div class="slide">
      <div class="inner">
        <div class="image">
          <div class="item-specific">
            <div style="display:none;" class="inner">
              <div class="content">
                <dl>
                  <dt>Bedrooms</dt>
                  <dd>2</dd>
                  <dt>Bathrooms</dt>
                  <dd>2</dd>
                  <dt>Area</dt>
                  <dd>240m<sup>2</sup></dd>
                  <dt>Garages</dt>
                  <dd>1</dd>
                  <dt>Build Year</dt>
                  <dd>1990</dd>
                </dl>
              </div>
            </div>
          </div><img src="{display_image}assets/img/items/restaurant/8.jpg{/}"/>
        </div>
        <div class="wrapper">
            <div class="row">
              <div class=""><img src="assets/img/{$food_type}.png" alt="{$food_type}" style="float:left;width:25px;margin-left:2%;" /></div>
              <div class="col-md-11"><a href="{$path}"><h2 style="font-size:20px;">{$name}</h2></a></div>
            </div>
            <figure>
                <i class="fa fa-map-marker"></i>
                <span>{$address}</span>
            </figure>
            <div class="info">
                <div class="rating" data-rating="4">
                    <aside class="reviews">{$approved_review_count} reviews</aside>
                  <div class="rating-container rating-animate rating-disabled" style="float:left;">
              <div class="rating">
                <span class="empty-stars" style="font-size:15px;">
                <span class="star">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </span>
                <span class="star">
                  <i class="glyphicon glyphicon-star-empty"></i></span>
                <span class="star">
                  <i class="glyphicon glyphicon-star-empty"></i></span>
                <span class="star">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </span>
                <span class="star">
                  <i class="glyphicon glyphicon-star-empty"></i></span>
                </span>
                <span class="filled-stars" style="font-size:15px;width:{$rating_percentage};">
                  <span class="star">
                    <i class="glyphicon glyphicon-star"></i></span>
                  <span class="star">
                    <i class="glyphicon glyphicon-star"></i></span>
                  <span class="star">
                    <i class="glyphicon glyphicon-star"></i></span>
                  <span class="star">
                    <i class="glyphicon glyphicon-star"></i></span>
                  <span class="star">
                    <i class="glyphicon glyphicon-star"></i></span>
                  </span>
                </div>
              </div>
                </div>
              <div class="type">
                <span title="Distance" data-lat="{$latitude}" data-lng="{$longitude}" style="padding:0px 10px 0 10px;">
                    <i class="fa fa-map-marker">
                      <span data-lat="{$latitude}" data-lng="{$longitude}" style="color:orange;" data-id="{$id}" class="current-distance"></span>
                    </i>
                  {$distance}
                </span>
                <span title="Average cost" style="padding:0px 10px 0 10px;">
                  <i class="fa fa-inr"></i>&nbsp;{avgcost}un defined{/}*
                </span>
                <span title="Total Offer/Discount" style="padding:0px 10px 0 10px;">
                  <i class="fa fa-tags"></i> {offer_discount_count}0{/}
                </span>
              </div>
                <div class="type">
                    <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png"></i>
                    <span>{$type}</span>
                </div>
            </div>
            <!--/.info-->
            <p>{$about_restaurant}
            </p>
            <a href="{$path}" class="read-more icon">Read More</a>
        </div>

      </div>
    </div>
    {/}{/}
  </div>
</div>