
<div class="container">
  <header>
    <h2>{header}Featured{/}</h2>
  </header>
  <div class="row">{rows}{row}
    <div class="col-md-3 col-sm-3">
      <div class="item">
        <div class="image"><a href="{$path}">
            <div class="overlay">
              <div class="inner">
                <div style="display:none;" class="content">
                  <h4>Description</h4>
                  <p>{about_restaurat}Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa{/}</p>
                </div>
              </div>
            </div>
            <div class="item-specific">
              <span title="Distance" data-lat="{$latitude}" data-lng="{$longitude}">
                  <i class="fa fa-map-marker">
                    <span data-lat="{$latitude}" data-lng="{$longitude}" style="color:orange;" data-id="{$id}" class="current-distance"></span>
                  </i>
                {$distance}
              </span>
              <span title="Average cost">
                <i class="fa fa-inr"></i>&nbsp;{avgcost}un defined{/}*
              </span>
              <span title="Total Offer/Discount">
                <i class="fa fa-tags"></i> {offer_discount_count}0{/}
              </span>
            </div>
            <img src="{display_image}assets/img/small.jpg{/}" alt=""/>
          </a>
          <div class="restaurant-category"><i class="fa fa-hungry">{$category}</i></div>
        </div>{getdiscount_wrapper}
        <div data-restaurantid="{$id}" class="btn-block atk-swatch-orange btn hungry-getdiscount container" style="width: 80%;border-radius:10px;margin-top:10px;">Get Discount</div>{/}
        <div class="wrapper"><a href="{$path}">
            <h3><img src="{$absolute_url}assets/img/{$food_type}.png" alt="{$food_type}"/> {name}Steak House Restaurant{/}</h3></a>
          <figure>{address}63 Birch Street{/}</figure>
        </div>
        <div class="info text-center">
          <div class="type"><i><img src="{category_icon_url}assets/icons/restaurants-bars/restaurants/restaurant.png{/}" alt="{$category}"/></i><span>{type}Restaurant{/}</span></div>
          {$rating_star}          
          {$menu}
        </div>
      </div>
    </div>{/}{/}
    <!-- /.col-sm-4-->
  </div>
  <script type="text/javascript">
    
    if (navigator.geolocation) {
      // navigator.geolocation.getCurrentPosition(showLocation,error,{enableHighAccuracy: false});
      navigator.geolocation.getCurrentPosition(showLocation, fail, {maximumAge: 5000, enableHighAccuracy:true, timeout: 6000});
      navigator.geolocation.watchPosition(showLocation, error, {enableHighAccuracy: true,timeout: 100000,maximumAge: 0});
    } else { 
      $(this).univ().errorMessage('Geolocation is not supported by this browser');
    }

    function error(pos){
      console.log(pos);
    }

    function fail(){
      
    }

    function showLocation(position) {
      var my_latitude = position.coords.latitude;
      var my_longitude = position.coords.longitude;
      $.each($(".current-distance"),function(index,element){
        rest_longitude = $(element).attr('data-lng');
        rest_latitude = $(element).attr('data-lat');
        dist = distanceInKm(my_latitude,my_longitude,rest_latitude,rest_longitude,'K');
        $(element).html(dist);
      });
    }

    function distanceInKm(lat1, lon1, lat2, lon2, unit) {
      var radlat1 = Math.PI * lat1/180
      var radlat2 = Math.PI * lat2/180
      var theta = lon1-lon2
      var radtheta = Math.PI * theta/180
      var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
      dist = Math.acos(dist)
      dist = dist * 180/Math.PI
      dist = dist * 60 * 1.1515
      if (unit=="K") { dist = dist * 1.609344 }
      if (unit=="N") { dist = dist * 0.8684 }
      return dist.toFixed(1);
    }
    // if ( navigator.geolocation ) {
    // function success(pos) {
    // $.each($(".current-distance"),function(index,element){
    //   console.log(pos.coords);
    // // 'currentlat':pos.coords.latitude,
    // // 'currentlan':pos.coords.longitude,
    // });
    // }
    // function fail(error) {
    //   //- alert('failed');
    // }
    // function error(error){
    // }
    // navigator.geolocation.getCurrentPosition(success, fail, {maximumAge: 5, enableHighAccuracy:true, timeout: 6000});
    // navigator.geolocation.watchPosition(success, error, {enableHighAccuracy: true,timeout: 100000,maximumAge: 0});
    
    // }
  </script>
</div>