<div id="{$_name}" class="{$class}" style="{$style}">
	<div class="rating-container rating-animate">
		<div class="rating" style="font-size:20px;">
		<span class="empty-stars">
			<span class="star">
				<i class="glyphicon glyphicon-star-empty"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star-empty"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star-empty"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star-empty"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star-empty"></i>
			</span>
		</span>
		<span class="filled-stars" style="width:{$rating};">
			<span class="star">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			<span class="star">
				<i class="glyphicon glyphicon-star"></i>
			</span>
		</span>
	</div>
	</div>
</div>