
<div id="{$_name}" style="{$style}" class="{$class} hungry-search">
  <div style="background: white;width:300px;margin:0px;" class="row"><a style="padding:10px;" href="?page=index" class="col-md-4 {$tab_restaurant}">Restaurant</a><a style="padding:10px;" href="?page=event" class="col-md-4 {$tab_event}">Event</a><a style="padding:10px;" href="?page=venue" class="col-md-4 {$tab_venue}">Venue</a></div>
  <div class="search-bar horizontal main-search background-color-grey-light">
    {$form_search}	
    {$Content}
  </div>
</div>