
<div id="{$_name}" style="{$style}" class="{$class} hungry-search">
  <div style="background: white;width:300px;margin:0px;" class="row"><a style="padding:10px;" href="{$restaurat_url}" class="col-md-4 col-sm-4 col-xs-12 {$tab_restaurant}">Restaurant</a><a style="padding:10px;" href="{$event_url}" class="col-md-4 col-sm-4 col-xs-12 {$tab_event}">Event</a><a style="padding:10px;" href="{$venue_url}" class="col-md-4 col-sm-4 col-xs-12 {$tab_venue}">Venue</a></div>
  <div class="search-bar horizontal main-search background-color-grey-light">
    {$form_search}
    {$Content}
  </div>
</div>