div(id="{$_name}" class="{$class}" style="{$style}")
  header(style="display:none;")
    h2 {header}Destination{/}
  .row
    | {rows}{row}
    .col-md-12.col-sm-12
      .item(style="margin-bottom:20px;")
        .image
          a(href='{$path}' target="_blank")
            div(style="position:absolute;color:white;margin-top:50%;width:100%;text-align:center;")
              .inner
                .content(style='')
                  h4(style="font-weight:normal !important;padding:5px;") {$name}                  
            .item-specific
              span(title='Distance', data-lat='{$latitude}', data-lng='{$longitude}')
                i.fa.fa-map-marker
                  span.current-distance(data-lat='{$latitude}', data-lng='{$longitude}', style='color:orange;', data-id='{$id}')
                | {$distance}
              span(title='Avg Cost')
                i.fa.fa-inr
                | {avg_cost}un defined{/} *
              span(title='Total Package')
                i.fa.fa-tags
                |  {package_count}{/}
            img(src='{display_image}assets/img/small.jpg{/}' alt='' onerror="this.src='{$absolute_url}assets/img/hungry-not-found.jpg'")
          .restaurant-category(style="z-index:10;")
            i.fa.fa-hungry {$first_category}
        .info.text-center(style="display:none")
          .type
            i
              img(src='{category_icon_url}assets/icons/restaurants-bars/restaurants/restaurant_indian.png{/}', alt='{$category}' onerror="this.src='{$absolute_url}assets/img/hungry-not-found.jpg'")
            span {type}{/}
          {$rating_star}
          | {$menu}

    | {/}{/}