{not_found}
<!-- <link rel="stylesheet" href="{$absolute_url}frontend/public/css/magnific-popup.css"/> -->
<!-- <script src="{$absolute_url}frontend/public/js/jquery.magnific-popup.min.js"></script> -->
<div style="padding:0;margin:0px;" class="restaurant-menu row">{rows}{row}
  <div href="{$image}" data-source="{$image}" title="{$name}" class="thumbnail col-md-4 col-lg-4 col-sm-4"><img src="{image}{/}" alt="Photo 1"/></div>{/}
  {/}
</div>
<style type="text/css">
  .image-source-link {
  color: #98C3D1;
  }
  .mfp-with-zoom .mfp-container,
  .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  }
  .mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
  }
  .mfp-with-zoom.mfp-removing .mfp-container,
  .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
  $('.restaurant-menu').magnificPopup({
  delegate: 'div',
  type: 'image',
  closeOnContentClick: false,
  closeBtnInside: false,
  mainClass: 'mfp-with-zoom mfp-img-mobile',
  image: {
  verticalFit: true,
  titleSrc: function(item) {
  return item.el.attr('title');
  }
  },
  gallery: {
  enabled: true
  },
  zoom: {
  enabled: true,
  duration: 300, // don't foget to change the duration also in CSS
  opener: function(element) {
  return element.find('img');
  }
  }
  });
  });
</script>{/}