
<div class="row addtocartbtnform">
  <div style="margin-top:17px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><strong>Price</strong>
    <div style="text-align:right;">{$price}</div>
  </div>
  <div style="margin-top:17px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12 atk-form-row"><strong>Quantity</strong>
    <div style="text-align:right;">{$quantity}</div>
  </div>{discount_voucher_wrapper}
  <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12 atk-form-row"><strong>Discount Voucher</strong>
    <div style="text-align:right;">{$discount_voucher}</div>
  </div>
  <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12 atk-form-row"><strong>Discount Amount</strong>
    <div style="text-align:right;">{$discount_amount}</div>
  </div>{/}
  <div style="margin-top:17px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><strong>Amount</strong>
    <div style="text-align:right;">{$amount}</div>
  </div>
  <div style="margin-top:17px;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><strong style="border:10px solid white;"></strong>{$submit_button}</div>{$Content}
  <style>
    .addtocartbtnform input{
    	border:1px solid ghostwhite !important;
    }
  </style>
</div>