.row
	.col-md-3.col-sm-12
		strong Price
		div(style="text-align:right;")
			{$price}
	.col-md-3.col-sm-12.atk-form-row
		strong Quantity
		div(style="text-align:right;")
			{$quantity}
	.col-md-3.col-sm-12
		strong Amount
		div(style="text-align:right;")
			{$amount}
	.col-md-3.col-sm-12
		strong(style="border:10px solid white;")
		{$submit_button}
	{$Content}