
<div class="row">
  <div class="col-md-3 col-sm-12"><strong>Price</strong>
    <div style="text-align:right;">{$price}</div>
  </div>
  <div class="col-md-3 col-sm-12 atk-form-row"><strong>Quantity</strong>
    <div style="text-align:right;">{$quantity}</div>
  </div>
  <div class="col-md-3 col-sm-12"><strong>Amount</strong>
    <div style="text-align:right;">{$amount}</div>
  </div>
  <div class="col-md-3 col-sm-12"><strong style="border:10px solid white;"></strong>{$submit_button}</div>{$Content}
</div>