div(class="{$class}" id="{$_name}")
	.input-row(style="padding:20px;")
		.col-md-3.col-sm-12.col-xs-12.atk-form-row
			{$city}
		.col-md-7.col-sm-12.col-xs-12.atk-form-row
			{$keyword}
		.col-md-2.col-sm-12.col-xs-12
			input.atk-swatch-orange(type='submit', value='Search' style="height:37px;border-radius:0px 0px 0px 0px;").do-search.btn.btn-block
	{$Content}