
<div id="{$_name}" class="{$class}">
  <div style="padding:20px;" class="input-row">
    <div class="col-md-1 col-sm-12 col-xs-12 atk-form-row">{$location}</div>
    <div class="col-md-3 col-sm-12 col-xs-12 atk-form-row">{$city}</div>
    <div class="col-md-6 col-sm-12 col-xs-12 atk-form-row">{$keyword}</div>
    <div class="col-md-2 col-sm-12 col-xs-12">
      <input type="submit" value="Search" style="height:37px;border-radius:0px 0px 0px 0px;" class="atk-swatch-orange do-search btn btn-block"/>
    </div>
  </div>{$Content}
</div>