
<div id="{$_name}" style="{$style}" class="{$class} atk-padding">
  <div class="text-center">
    <h1 style="font-size:30px;" class="atk-padding">About us</h1>
  </div>
  <div class="container">
    <p>01. HungryDunia is a platform for people to come and enjoy multiple restaurants at one place.</p>
    <p>02. We have created this website to help restaurants, to grow their business in more better way and also exploring their business.</p>
    <p>03. From our website customers can easily view collections of restaurants and see photographs,menu card ,discounts-offers, ratings and other information regarding their favorite restaurants.</p>
    <p>04. Restaurants owners can login this site free and put information like name, phone no, email id so that we can identify you and you will get notification related to the service.</p>
    <p>05. Restaurant owners can update their Discounts &  latest offers on our website and it’s totally free and safe. We are also providing them a feature to see their restaurant ratings and reviews from customers and comment on them.</p>
    <p>06. The best part is our customers don’t have to go anywhere to search for which restaurants is better to go with. All they need is go through our site and see collections of best restaurants in town and see which restaurants ratings and reviews are good and what best offers they gonna get and its really simple.</p>
    <p>07. HungryDunia is totally safe process just to help customers reach best restaurants and get best offers and help restaurants make their business famous in a simple way.</p>
    <p>08. Our website is designed in very simple way so that customers can easily get what they want without wasting time and help restaurant owners to log in so that they get into our list.</p>
    <p>09. Our website guarantees you that it will surely help restaurants grow their business fast and customers will get fully satisfaction.</p>
    <p>10. So why wasting time thinking where to go with your loved ones? All you need is just go to Hungry Dunia site and get the best restaurants and best deals in one click.</p>
  </div>
</div>