
<div id="{$_name}" style="{$style}" class="{$class} container account">
  <header style="background-color:white;padding:20px;" class="text-center">
    <h2 class="page-title">{$list_data}</h2>
  </header>
  <div id="page-useraccount" style="margin-top:10px;">
    <!-- Off Canvas Navigation-->
    <nav class="off-canvas-navigation">
      <header>Navigation</header>
      <div class="main-navigation navigation-off-canvas"></div>
    </nav>
    <!-- end Off Canvas Navigation-->
    <div id="page-content">{$Content}
      <section class="container">
        {signin}
        {/signin}
      </section>
      <!-- /.block-->
    </div>
    <!-- end Page Content-->
  </div>
</div>