
<!-- Page Content-->
<div id="page-content">
  <section class="container">
    <div class="block">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-md-offset-4 col-sm-offset-3">{successsection}
          <div id="{$_name}" style="{$style}" class="{$class}">
            <header class="text-center">
              <h1 class="page-title">Thanks for signing up</h1>
            </header>
            <hr/>
            <p>Please check your email and click activate account in the message we just send to {$email_id}.</p>
            <p>once your account is activated we will verify, and we will send you email with some information to help you get started with hungrydunia.com</p><small>* if you do'nt see the email in your inbox look for it in your junk folder or check your email again.</small>
          </div>{/}
          {form_section}
          {register}
          <header class="form-section-header">
            <h1 class="page-title">Add Your Restaurant</h1>
            <hr/>
          </header>
          <div class="row">
            <div class="col-md-12 col-ms-12 col-lg-12">{full_name_wrapper}
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Full Name:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$full_name}</div>
              </div>{/}
              {email_wrapper}
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Email:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$email}</div>
              </div>{/}
              {password_wrapper}
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Password:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$password}</div>
              </div>{/}
              {confirm_wrapper}
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Confirm Password:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$confirm_password}</div>
              </div>{/}
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Business Name:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$business_name}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Business Type:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$business_type}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Mobile:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$mobile}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Country:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$country}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>State:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$state}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>City:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$city}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Area:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$area}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory"><span>Address:</span></label>
                </div>
                <div class="atk-form-field atk-push-small">{$address}</div>
              </div>
              <div class="atk-form-row atk-form-row-line">
                <div class="atk-push-xsmall atk-form-label atk-text-nowrap">
                  <label class="mandatory">
                  </label>
                </div>
                <div class="row">
                  <div class="col-md-7 col-sm-12">
                    <div class="atk-form-field atk-push-small">{$received_newsletter}</div>
                  </div>
                  <div class="col-md-5 col-sm-12">{$submit_button}</div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="center form-section-footer">
            <figure class="note">By clicking the “Create an Account” button you agree with our <a href="terms-conditions" class="link">Terms and conditions</a></figure>
          </div>{/}
        </div>
      </div>
    </div>{/}
  </section>
  <!-- /.block-->
</div>
<!-- end Page Content-->