section(id="{$_name}" class=" {$class} block equal-height container" style="{$style}")
	.row
		.col-md-3.atk-box.hungry-checkbox
			h3(style="margin-left:10%;") Filter By Discount
			{$discount}
		.col-md-9
			{$restaurant}