
<!-- Off Canvas Navigation-->
<nav class="off-canvas-navigation">
  <header>Navigation</header>
  <div class="main-navigation navigation-off-canvas"></div>
</nav>
<!-- end Off Canvas Navigation-->
<!-- Page Content-->
<div id="page-content">
  <!-- Hero Image-->
  <section class="hero-image search-filter-middle height-450">
    <div class="inner">
      <div style="width:100%;" class="container search-bar horizontal">
        <h1>Event</h1>
        <div style="z-index: 2;position:relative;" id="hungrysearch" class="container hungry-search-form">
          <div style="width:80%;" class="container">{search_form}{/}</div>
        </div>
      </div>
    </div>
    <div class="background event-home-slide-bg">{$homeslider}</div>
  </section>
  <!-- end Hero Image-->
  <section id="featured" class="block background-color-grey-dark equal-height">{$eventlist}</section>
</div>