<!-- end Off Canvas Navigation-->
<!-- Page Content-->
<div id="page-content">
  <!-- Hero Image-->
  <section class="hero-image search-filter-middle height-450">
    <div class="inner">
      <div style="width:100%;" class="container search-bar horizontal">
        <h1>Find Place For Fun and Eat</h1>
        <div style="z-index: 2;position:relative;" class="container hungry-search-form">
          <div style="width:80%;" class="container">{search_form}{/}</div>
        </div>
      </div>
    </div>
    <div class="background">{$homeslider}</div>
  </section>
  <!-- end Hero Image-->
  <!-- Featured-->
  <section id="featured" class="block equal-height">{restaurantlist}
    <div class="container">
      <header>
        <h2>Featured</h2>
      </header>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="item">
            <div class="image">
              <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div><a href="item-detail.html">
                <div class="overlay">
                  <div class="inner">
                    <div class="content">
                      <h4>Description</h4>
                      <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                    </div>
                  </div>
                </div>
                <div class="item-specific"><span title="Bedrooms"><img src="assets/img/bedrooms.png" alt=""/>2</span><span title="Bathrooms"><img src="assets/img/bathrooms.png" alt=""/>2</span><span title="Area"><img src="assets/img/area.png" alt=""/>240m<sup>2</sup></span><span title="Garages"><img src="assets/img/garages.png" alt=""/>1</span></div>
                <div class="icon"><i class="fa fa-thumbs-up"></i></div><img src="assets/img/items/1.jpg" alt=""/></a>
            </div>
            <div class="wrapper"><a href="item-detail.html">
                <h3>Steak House Restaurant</h3></a>
              <figure>63 Birch Street</figure>
              <div class="info">
                <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""/></i><span>Restaurant</span></div>
                <div data-rating="4" class="rating"></div>
              </div>
            </div>
          </div>
          <!-- /.item-->
        </div>
        <!-- /.col-sm-4-->
        <div class="col-md-3 col-sm-3">
          <div class="item">
            <div class="image">
              <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div><a href="item-detail.html">
                <div class="overlay">
                  <div class="inner">
                    <div class="content">
                      <h4>Description</h4>
                      <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                    </div>
                  </div>
                </div><img src="assets/img/items/2.jpg" alt=""/></a>
            </div>
            <div class="wrapper"><a href="item-detail.html">
                <h3>Benny’s Cafeteria</h3></a>
              <figure>63 Birch Street</figure>
              <div class="info">
                <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/cafetaria.png" alt=""/></i><span>Cafeteria</span></div>
                <div data-rating="4" class="rating"></div>
              </div>
            </div>
          </div>
          <!-- /.item-->
        </div>
        <!-- /.col-sm-4-->
        <div class="col-md-3 col-sm-3">
          <div class="item">
            <div class="image">
              <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div><a href="item-detail.html">
                <div class="overlay">
                  <div class="inner">
                    <div class="content">
                      <h4>Description</h4>
                      <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                    </div>
                  </div>
                </div>
                <div class="item-specific"><span>Daily menu from: $6</span></div><img src="assets/img/items/restaurant/9.jpg" alt=""/></a>
            </div>
            <div class="wrapper"><a href="item-detail.html">
                <h3>Big Bamboo</h3></a>
              <figure>4662 Bruce Street</figure>
              <div class="info">
                <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/japanese-food.png" alt=""/></i><span>Sushi</span></div>
                <div data-rating="3" class="rating"></div>
              </div>
            </div>
          </div>
          <!-- /.item-->
        </div>
        <!-- /.col-sm-4-->
        <div class="col-md-3 col-sm-3">
          <div class="item">
            <div class="image">
              <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div><a href="item-detail.html">
                <div class="overlay">
                  <div class="inner">
                    <div class="content">
                      <h4>Description</h4>
                      <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                    </div>
                  </div>
                </div>
                <div class="item-specific"><span>Daily menu from: $6</span></div><img src="assets/img/items/restaurant/10.jpg" alt=""/></a>
            </div>
            <div class="wrapper"><a href="item-detail.html">
                <h3>Sushi Wooshi Bar</h3></a>
              <figure>357 Trainer Avenue</figure>
              <div class="info">
                <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/fishchips.png" alt=""/></i><span>Sushi Bar</span></div>
                <div data-rating="3" class="rating"></div>
              </div>
            </div>
          </div>
          <!-- /.item-->
        </div>
        <!-- /.col-sm-4-->
      </div>
      <!-- /.row-->
    </div>
    <!-- /.container-->
    <div class="background opacity-5"><img src="assets/img/restaurants-bg2.jpg" alt=""/></div>{/restaurantlist}
  </section>
  <!-- end Featured-->
  <!-- Popular-->
  <section id="popular" class="block background-color-white">
    {popularrestaurant}
    {/}
  </section>
  <section id="listing" class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <section class="equal-height">
            <header>
              <h2>Recently Added</h2>
            </header>{recentlyadded}
            {/}
          </section>
          <!-- Categories-->
        </div>
        <div class="col-md-3 col-sm-3">
          <aside id="sidebar">
            <section>
              <header>
                <h2>Text Widget</h2>
              </header>
              <div class="social-box-wrapper">
                <div class="social-box col-md-12 col-sm-4 facebook">
                  <i class="fa fa-facebook pull-right" style="width:10px;padding-right:50px;"></i>
                  <div class="clearfix">
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    <span class="social-count" style="display:none;">184k</span>
                    <span class="social-action" style="display:none;">likes</span>
                  </div>
                  <span class="social-name" style="display:none;" >facebook</span>
                </div>
                <div class="social-box col-md-12 col-sm-4 twitter">
                <i class="fa fa-twitter pull-right" style="width:10px;padding-right:50px;"></i>
                  <div class="clearfix">
                    <span class="social-count" style="display:none;">49k</span>
                    <span class="social-action" style="display:none;">tweets</span>
                    <a class="twitter-follow-button" href="https://twitter.com/TwitterDev" data-size="large" data-show-count="true" data-show-screen-name="false"> Follow @TwitterDev</a>
                    </div>
                    <span class="social-name" style="display:none;">twitter</span>
                </div>
                <div class="social-box col-md-12 col-sm-4 google" style="display:none;">
                <i class="fa fa-google-plus"></i>
                  <div class="clearfix">
                  <span class="social-count">1 204</span>
                  <span class="social-action">circles</span>
                  </div>
                  <span class="social-name">google+</span>
                </div>
                <div class="social-box col-md-12 col-sm-4 instagram" style="display:none;">
                <i class="fa fa-instagram"></i>
                  <div class="clearfix">
                  <span class="social-count" style="display:none;">1 204</span>
                  <span class="social-action" style="display:none;">follower</span>
                  <span class="ig-follow" data-id="5479dee" data-handle="igfbdotcom" data-count="true" data-size="large" data-username="true"></span>
                  </div>
                  <span class="social-name" style="display:none;">Instagram</span>
                </div>
              </div>
            </section>
            <section style="display:none;">
              <header>
                <h2>Events</h2>
              </header>
              <div class="form-group">
                <select name="events" class="framed">
                  <option value="">Select Your City</option>
                  <option value="1">London</option>
                  <option value="2">New York</option>
                  <option value="3">Barcelona</option>
                  <option value="4">Moscow</option>
                  <option value="5">Tokyo</option>
                </select>
              </div>
            </section>
            <section style="display:none;">
              <header>
                <h2>Recent Post</h2>
              </header><a href="item-detail.html" class="item-horizontal small">
                <h3>Cash Cow Restaurante</h3>
                <figure>63 Birch Street</figure>
                <div class="wrapper">
                  <div class="image"><img src="assets/img/items/1.jpg" alt=""/></div>
                  <div class="info">
                    <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""/></i><span>Restaurant</span></div>
                    <div data-rating="4" class="rating"></div>
                  </div>
                </div></a>
              <!-- /.item-horizontal small--><a href="item-detail.html" class="item-horizontal small">
                <h3>Blue Chilli</h3>
                <figure>2476 Whispering Pines Circle</figure>
                <div class="wrapper">
                  <div class="image"><img src="assets/img/items/2.jpg" alt=""/></div>
                  <div class="info">
                    <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""/></i><span>Restaurant</span></div>
                    <div data-rating="3" class="rating"></div>
                  </div>
                </div></a>
              <!-- /.item-horizontal small--><a href="item-detail.html" class="item-horizontal small">
                <h3>Eddie’s Fast Food</h3>
                <figure>4365 Bruce Street</figure>
                <div class="wrapper">
                  <div class="image"><img src="assets/img/items/3.jpg" alt=""/></div>
                  <div class="info">
                    <div class="type"><i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""/></i><span>Restaurant</span></div>
                    <div data-rating="5" class="rating"></div>
                  </div>
                </div></a>
              <!-- /.item-horizontal small-->
            </section>
          </aside>
          <!-- /#sidebar-->
        </div>
        <!-- /.col-md-3-->
      </div>
      <!-- /.row-->
    </div>
    <!-- /.block-->
  </section>
  <!-- end Listing-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1775386549362109";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="js/twitterwidgets.js"></script>
 <script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>
</div>