<!-- end Off Canvas Navigation-->
<!-- Page Content-->
<div id="page-content">
  <!-- Hero Image-->
  <section class="hero-image search-filter-middle height-450">
    <div class="inner">
      <div style="width:100%;" class="container search-bar horizontal">
        <h1>Find Place For Fun and Eat</h1>
        <div style="z-index: 2;position:relative;" class="container hungry-search-form">
          <div style="width:80%;" class="container">{search_form}{/}</div>
        </div>
      </div>
    </div>
    <div class="background">{$homeslider}</div>
  </section>
  <!-- end Hero Image-->
  <!-- Featured-->
  <section id="featured" class="block equal-height">
  {restaurantlist}
  {/restaurantlist}
  </section>
  <!-- end Featured-->
  <!-- Popular-->
  <section id="popular" class="block background-color-white">
    {popularrestaurant}
    {/}
  </section>
  <section id="listing" class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <section class="equal-height">
            <header>
              <h2>Recently Added</h2>
            </header>{recentlyadded}
            {/}
          </section>
          <!-- Categories-->
        </div>
        <div class="col-md-3 col-sm-3">
          <aside id="sidebar">
            <section>
              <header>
                <h2>Download The App</h2>
              </header>
              <div>
                {$download_app}
              </div>
            </section>
          </aside>
          <!-- /#sidebar-->
        </div>
        <!-- /.col-md-3-->
      </div>
      <!-- /.row-->
    </div>
    <!-- /.block-->
  </section>
  <!-- end Listing-->
<div id="fb-root"></div>
  <a href="{$absolute_url}discount/{$current_city}" target="_blank" class="atk-box-small hungry-sidebardiscoountlink" style="position: fixed;top:60%;right:0;right:%;z-index:99999;cursor:pointer;font-weight:bold;color: orange;font-size: 18px;transform:rotate(90deg);right:-60px;">
  GET DISCOUNT</a>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1775386549362109";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="{$absolute_url}frontend/public/js/twitterwidgets.js"></script>
 <!-- <script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script> -->
</div>