
<!-- Page Content-->
<div id="page-content">
  <section class="container">
    <div class="block">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <header>
            <h1 class="page-title">Register</h1>
          </header>
          <hr/>{$register}
          <hr/>
          <div class="center">
            <figure class="note">By clicking the “Create an Account” button you agree with our <a href="terms-conditions" class="link">Terms and conditions</a></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.block-->
</div>
<!-- end Page Content-->