
<div id="page-content" class="page-item-detail hungry-restaurant-detail">
  {$redefine_search}
  <!-- Hero Image-->
  <section class="hero-image height-400 restaurant-detail-banner">
    <div style="vertical-align: middle;" class="inner">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12 text-left restaurant-info">
            <div class="restaurant-logo-image"><img src="{rest_logo_image}{/}"/></div>
            <h1>{name}Find Place For Fun and Eat{/}</h1>
            <div>{address}630-f sec.11 Near Alok School Udaipur, Rajasthan.{/}</div>            {hungryuserrating}
                        {/}
          </div>
          {discountcoupon_wrapper}
          <div class="col-md-3 col-sm-12">
            <div title="get discount" type="button" data-toggle="modal" data-target="#{$_name}{$id}_discount_model" style="font-size:16px;margin-top:8px;color:white;cursor:pointer; cursor: hand;border-radius:5px;" class="btn atk-swatch-orange btn-block">Get Discount</div>
          </div>
          {/}
          {reservetable_wrapper}
          <div class="col-md-3 col-sm-12">
            <div title="Reserve Table" type="button" data-toggle="modal" data-target="#{$_name}{$id}_reservetable_model" style="font-size:16px;margin-top:8px;color:white;cursor:pointer; cursor: hand;background-color:#5cb85c;border-radius:5px;" class="btn atk-swatch-green btn-block">Reserve Table</div>
          </div>
          {/}
        </div>
      </div>
    </div>
    <div style="background:rgba(0, 0, 0, 0.45) none repeat scroll 0 0;" class="background"><img src="{rest_banner_image}assets/img/restaurant-detail-banner.jpg{/}" alt=""/></div>
  </section>{$Content}
  <section class="container">
    <div class="row">
      <!-- Item Detail Content-->
      <div class="col-md-9">
        <section id="main-content" class="block">
          <div class="row">
            <!-- Detail Sidebar-->
            <aside id="detail-sidebar" class="col-md-4 col-sm-4">
              <!-- Contact-->
              <section>
                <header>
                  <h3>Contact</h3>
                </header>
                <address>
                  <div style="display:none;">{$address}</div>
                  <figure>{mobile_wrapper}
                    <div class="info"><i class="fa fa-mobile"></i><span>{$mobile_no}</span></div>{/}
                                        {phone_wrapper}
                    <div class="info"><i class="fa fa-phone"></i><span>{$phone_no}</span></div>{/}
                                        {email_wrapper}
                    <div class="info"><i class="fa fa-envelope"></i><span>{$email}</span></div>{/}
                                        {website_wrapper}
                    <div class="info"><i class="fa fa-globe"></i><a href="#">{$website}</a></div>{/}
                    <div class="social">
                       
                      {instagram_wrapper}<a target="_blank" href="{$instagram_page_url}" class="social-button"><i style="padding:0px !important;float:left;" class="fa fa-instagram instagram"></i></a>{/}
                      {facebook_wrapper}<a target="_blank" href="{$facebook_page_url}" class="social-button"><i style="padding:0px !important;" class="fa fa-facebook facebook"></i></a>{/}
                    </div>
                  </figure>
                </address>
              </section>
              <!-- end Contact-->
              <!-- Rating-->
              <section class="clearfix">
                <header><a href="#reviews1" class="roll">
                    <h3>Rating</h3></a></header>
                    {$rating_star}
                <!-- <figure data-rating="{$rating}" class="rating big pull-right"></figure>-->
              </section>
              <!-- end Rating-->
              <section>
                <header>
                  <h3>Avg Cost/Person</h3>
                </header>
                <figure>
                  <div id="detail-sidebar-event">
                    <div class="content"><b>A La Carte </b>{veg_wrapper}
                      <p>Veg. ₹ {$avg_cost_per_person_veg}</p>{/}
                                            {non_veg_wrapper}
                      <p>Non Veg. ₹ {$avg_cost_per_person_nonveg}</p>{/}
                                            {thali_wrapper}<b>Thali </b>
                      <p>₹ {$avg_cost_per_person_thali}</p>{/}
                    </div>
                  </div>
                </figure>
              </section>
              <!-- Events-->
              <section style="display:none;">
                <header>
                  <h3>Events</h3>
                </header>
                <figure>
                  <div id="detail-sidebar-event" class="expandable-content collapsed show-60">
                    <div class="content">
                      <p>
                        Maecenas purus sapien, pellentesque non consectetur eu, rhoncus in mauris.
                        Duis et nisl metus. Sed ut pulvinar mauris, bibendum ullamcorper ex.
                        Aliquam vitae ante diam. Nam eu blandit odio. Cras erat lorem, iaculis eu nulla eu, sodales aliquam eros.
                      </p>
                    </div>
                  </div><a data-expand="#detail-sidebar-event" href="#" class="show-more expand-content">Show More</a>
                </figure>
              </section>
              <!-- end Events-->
              <!-- Features-->
              <section>
                <header>
                  <h3>Features</h3>
                </header>
                <figure>
                  <div id="detail-sidebar-features">
                    <div class="content">{feature}
                      <div class="info">
                        <div class="row">
                          <div class="col-md-3"><img src="{$icon_url}" style="width:30px;"/></div>
                          <div class="col-md-9">
                            <p style="padding:5px;"> {$Highlight}</p>
                          </div>
                        </div>
                      </div>                      {/}
                    </div>
                  </div>
                </figure>
              </section>
              <!-- end features-->
              <!-- cuisine-->
              <section>
                <header>
                  <h3>Cuisines</h3>
                </header>
                <figure>
                  <div id="detail-sidebar-cuisine">
                    <div class="content">{cuisine}
                      <div class="info">
                        <div class="row">
                          <div class="col-md-3"><img src="{$icon_url}" style="width:30px;float:left"/></div>
                          <div class="col-md-9">
                            <p style="padding:5px;"> {$keyword}</p>
                          </div>
                        </div>
                      </div>                      {/}
                    </div>
                  </div>
                </figure>
              </section>
              <!-- end cuisines-->
              <!-- Contact Form-->
              <section style="display:none;">
                <header>
                  <h3>Contact Form</h3>
                </header>
                <figure>
                  <form id="item-detail-form" action="?" method="post" role="form">
                    <div class="form-group">
                      <label for="item-detail-name">Name</label>
                      <input id="item-detail-name" type="text" required="" name="item-detail-name" class="form-control framed"/>
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label for="item-detail-email">Email</label>
                      <input id="item-detail-email" type="email" required="" name="item-detail-email" class="form-control framed"/>
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label for="item-detail-message">Message</label>
                      <textarea id="item-detail-message" required="" rows="3" name="item-detail-message" class="form-control framed"></textarea>
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <button type="submit" class="btn framed icon">Send<i class="fa fa-angle-right"></i></button>
                    </div>
                    <!-- /.form-group-->
                  </form>
                </figure>
              </section>
              <!-- end Contact Form-->
            </aside>
            <!-- end Detail Sidebar-->
            <!-- Content-->
            <div class="col-md-8 col-sm-8">
              <section>
                <div>
                  <!-- Nav tabs-->
                  <ul role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
                    <li role="presentation"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">Menu</a></li>
                    <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#operationlhours" aria-controls="operationlhours" role="tab" data-toggle="tab">Operational Hours</a></li>
                    <li role="presentation"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab">Offers</a></li>
                  </ul>
                  <!-- Tab panes-->
                  <div class="tab-content">
                    <div id="gallery" role="tabpanel" class="tab-pane active">{$gallery}
                      <!-- /.item-gallery-->
                    </div>
                    <div id="menu" role="tabpanel" class="tab-pane">{$menu}</div>
                    <div id="description" role="tabpanel" class="tab-pane">
                      <article>
                        <header>
                          <h2>Description</h2>
                        </header>
                        <p>{$about_restaurant_html}</p>
                      </article>
                      <!-- /.block-->
                      <article class="block">
                        <header>
                          <h2>Features</h2>
                        </header>
                        <ul class="bullets">
                          {highlight}
                          {siglehighlight}
                          <li>{$Highlight}</li>{/}
                                                    {/}
                        </ul>
                      </article>
                      <!-- /.block-->
                    </div>
                    <div id="operationlhours" role="tabpanel" class="tab-pane">
                      <article>
                        <header>
                          <h2>Operational Hours</h2>
                        </header>
                        <dl class="lines">
                          <div>
                            <dt>Monday</dt>
                            <dd>&nbsp;{monday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Tuesday</dt>
                            <dd>&nbsp;{tuesday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Wednesday</dt>
                            <dd>&nbsp;{wednesday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Thursday</dt>
                            <dd>&nbsp;{thursday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Friday</dt>
                            <dd>&nbsp;{friday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Saturday</dt>
                            <dd>&nbsp;{saturday}Holiday{/}</dd>
                          </div>
                          <div>
                            <dt>Sunday</dt>
                            <dd>&nbsp;{sunday}Holiday{/}</dd>
                          </div>
                        </dl>
                      </article>
                      <!-- /.block-->
                    </div>
                    <div id="offers" role="tabpanel" class="tab-pane">{restaurantoffer}
                      <div class="wrapper">
                        <h5>{$name}</h5>
                        <p>{$detail}</p>
                      </div>{/}
                    </div>
                  </div>
                </div>
              </section>
              <p>Disclaimer: {$disclaimer_html}</p>
              <!-- Reviews-->{$review}
              <!-- end Review Form-->
            </div>
            <!-- /.col-md-8-->
          </div>
          <!-- /.row-->
        </section>
        <!-- /#main-content-->
      </div>
      <!-- /.col-md-8-->
      <!-- Sidebar-->
      <div class="col-md-3 restaurant-detail-right-sidebar">
        <section id="restaurant-detail" class="block restaurant-map-container">
          <header>
            <h2>Map Route</h2>
          </header>
          <div style="height:200px;">{$routemap}</div>
        </section>
        {near_by_wrapper}
        <section id="nearbyrestaurant" class="block near-by-restaurant-container">
          <header>
            <h2>Near By Restaurant</h2>
          </header>
          {$nearbyrestaurant}
        </section>
        {/}
        {recommended_wrapper}
        <section id="recommendrestaurant" class="block recommend-restaurant-container">
          <header>
            <h2>Recommend Restaurant</h2>
          </header>{$recommendedrestaurant}
        </section>
        {/}
        {$downloadapp}
      </div>
      <!-- /.form-group-->
      <!-- /#sidebar-->
      <!-- /.col-md-3-->
      <!-- end Sidebar-->
      <!-- /.row-->
    </div>
  </section>
  <div id="{$_name}{$id}_discount_model" tabindex="-1" role="dialog" aria-labelledby="{$_name}{$id}_discount_model" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" style="margin-right:20px;">×</span></button>
          <h4 id="{$_name}_model_label" style="font-size:16px;" class="modal-title text-hungry">Get Discount</h4>
        </div>
        <div class="modal-body hungry-getdiscount-modal-popup">{$getdiscount}</div>
        <div class="modal-footer">
          <button type="button" style="width:200px;border-radius:10px;" class="btn btn-default hungry-green-btn getdiscount-hungry-submit">Get code</button>
          <button type="button" data-dismiss="modal" class="btn btn-default">
            Close
            {$getdiscount_save_button}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="{$_name}{$id}_reservetable_model" tabindex="-1" role="dialog" aria-labelledby="{$_name}{$id}_reservetable_model" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" style="margin-right:20px;">×</span></button>
          <h4 id="{$_name}_model_label" style="font-size:16px;" class="modal-title text-hungry">Reserve Table</h4>
        </div>
        <div class="modal-body hungry-reserve-table-modal-popup">{$reservetable}</div>
        <div class="modal-footer">
          <button type="button" style="width:200px;border-radius:10px;" class="btn btn-default hungry-green-btn reservetable-hungry-submit">Book Table</button>
          <button type="button" data-dismiss="modal" class="btn btn-default">
            Close
            {$reserv_save_btn}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="comment_modalpopup" tabindex="-1" role="dialog" aria-labelledby="comment_modalpopup" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" style="margin-right:20px;">×</span></button>
          <h4 id="{$_name}_model_label" style="font-size:16px;" class="modal-title text-hungry">Login</h4>
        </div>
        <div class="modal-body hungry-comment_modalpopup">{$login}{$Content}</div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>