#page-canvas
  // Off Canvas Navigation
  nav.off-canvas-navigation
    header Navigation
    .main-navigation.navigation-off-canvas
  // end Off Canvas Navigation
  #page-content(style="width:50%;margin:40px auto;padding:10px;background:white;")
    {$Content}
    section.container
      {signin}
      {/signin}
    // /.block
  // end Page Content
