
<div id="page-canvas">
  <!-- Off Canvas Navigation-->
  <nav class="off-canvas-navigation">
    <header>Navigation</header>
    <div class="main-navigation navigation-off-canvas"></div>
  </nav>
  <!-- end Off Canvas Navigation-->
  <div id="page-content">
    <section class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div style="margin:40px auto;padding:10px;background:white;" class="col-lg-6 col-md-6 col-sm-12">
          {$Content}
          {signin}{/signin}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
      </div>
    </section>
    <!-- /.block-->
  </div>
  <!-- end Page Content-->
</div>