// Page Content
#page-content
  section.container
    .block
      .row
        .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
          header
            h1.page-title Verification
          hr
          {$verification}
          hr
          .center
            figure.note
              | By clicking the Verification” button you agree with our
              a.link(href='terms-conditions') Terms and conditions
  // /.block
// end Page Content
